            <h1>Универсальная модель поведения рынка</h1>
            <p>Изначально исследовательский проект в&nbsp;течение 7&nbsp;лет превратился во&nbsp;вполне жизнеспособный коммерческий продукт:</p>
            <ul>
            	<li>Оригинальный, нетрадиционный подход к&nbsp;разработке стратегии</li>
            	<li>Отсутствие &laquo;магических&raquo; коэффициентов и&nbsp;адаптации алгоритма</li>
            	<li>Глобальная стратегия, без привязки к&nbsp;инструменту, брокеру, платформе или депозиту</li>
            	<li>Человеческий фактор исключен ― система полностью автономна</li>
            	<li>Схожие результаты при тестировании на&nbsp;валютном и&nbsp;фондовом рынках</li>
            	<li>Высокая повторяемость ретроспективных тестов и&nbsp;работы реального счета за&nbsp;тот&nbsp;же период</li>
            	<li>Больше полутора лет публичной работы на&nbsp;реальных счетах</li>
            	<li>Возможность торговать в&nbsp;крупном ДЦ при&nbsp;депозите до&nbsp;1&nbsp;000&nbsp;000&nbsp;$</li>
            </ul>
            <p>Тест одной из последних версий стратегии на&nbsp;исторических данных на&nbsp;всем доступном архиве котировок EURUSD:</P>
            <center>
            <img src="/download/{_global_.z}/i/277_5_13yrs.gif" border=0 alt="Graph">
            <br /><br />
            <table class="table table-bordered table-condensed" style="font-size: 75%; font-family: 'Tahoma','Arial'; ">
            	<tr align=left><td colspan=2>Symbol</td><td colspan=4>EURUSD (Euro vs US Dollar)</td></tr>
            	<tr align=left><td colspan=2>Period</td><td colspan=4>5 Minutes (M5)  1999.12.01 08:20 - 2013.10.04 15:25</td></tr>
            	<tr align=left><td colspan=2>Model</td><td colspan=4>Every tick (the most precise method based on all available least timeframes)</td></tr>
            	<tr align=left><td>Bars in test</td><td align=right>1024075</td><td>Ticks modelled</td><td align=right>84395895</td><td>Modelling quality</td><td align=right>89.99%</td></tr>
            	<tr align=left><td>Initial deposit</td><td align=right>3000.00</td><td></td><td align=right></td><td></td><td align=right></td></tr>
            	<tr align=left><td>Total net profit</td><td align=right>28426.01</td><td>Gross profit</td><td align=right>105477.44</td><td>Gross loss</td><td align=right>-77051.44</td></tr>
            	<tr align=left><td>Profit factor</td><td align=right>1.37</td><td>Expected payoff</td><td align=right>1.23</td><td></td><td align=right></td></tr>
            	<tr align=left><td>Absolute drawdown</td><td align=right>312.19</td><td>Maximal drawdown</td><td align=right>1707.56 (33.63%)</td><td>Relative drawdown</td><td align=right>33.63% (1707.56)</td></tr>
            	<tr align=left><td>Total trades</td><td align=right>23039</td><td>Short positions (won %)</td><td align=right>10942 (31.16%)</td><td>Long positions (won %)</td><td align=right>12097 (32.02%)</td></tr>
            	<tr align=left><td colspan=2 align=right></td><td>Profit trades (% of total)</td><td align=right>7284 (31.62%)</td><td>Loss trades (% of total)</td><td align=right>15755 (68.38%)</td></tr>
            	<tr align=left><td colspan=2 align=right>Largest</td><td>profit trade</td><td align=right>172.54</td><td>loss trade</td><td align=right>-54.60</td></tr>
            	<tr align=left><td colspan=2 align=right>Average</td><td>profit trade</td><td align=right>14.48</td><td>loss trade</td><td align=right>-4.89</td></tr>
            	<tr align=left><td colspan=2 align=right>Maximum</td><td>consecutive wins (profit in money)</td><td align=right>42 (282.00)</td><td>consecutive losses (loss in money)</td><td align=right>122 (-426.42)</td></tr>
            	<tr align=left><td colspan=2 align=right>Maximal</td><td>consecutive profit (count of wins)</td><td align=right>1171.10 (18)</td><td>consecutive loss (count of losses)</td><td align=right>-597.92 (55)</td></tr>
            	<tr align=left><td colspan=2 align=right>Average</td><td>consecutive wins</td><td align=right>6</td><td>consecutive losses</td><td align=right>12</td></tr>
            </table>
            </center>
