		    <h1>Зарабатываем на&nbsp;психологии игроков</h1>
			<p>Торговая стратегия дает возможность выгодно использовать типичное поведение участников рынка в&nbsp;стандартных ситуациях. Человеку следует признать, что все его поведение&nbsp;&mdash; это прежде всего рефлексы, и&nbsp;даже самый великий разум не&nbsp;может с&nbsp;ними бороться.</p>
			<p>Каждый игрок финансового рынка подвержен гипнотическому действию графика цены. Гипноз этот, кстати, проявляется только при наличии реального финансового риска для этого игрока в&nbsp;происходящих на&nbsp;его глазах торгах. Жертвы гипноза часто хитрят перед собой, придумывают отговорки, вроде &laquo;Торговать нужно лениво...&raquo; или &laquo;Кто знал, что&nbsp;ЦБ такое выкинет?&raquo; или даже &laquo;Мне просто не&nbsp;повезло в&nbsp;этот раз&raquo;.</p>
			<p>На&nbsp;самом деле совет, например, торговать лениво&nbsp;&mdash; это надежный способ не&nbsp;проиграть всё быстро и наверняка неудачными импульсивными действиями, а&nbsp;проиграть медленно и&nbsp;с&nbsp;вероятностью 50/50, отдавшись воле случая.</p>
			<br />
			<center>
			<img src="/download/{_global_.z}/i/psycho.png" border="0" alt="Graph">
			</center>
