			<h1>Тактика торговли с ограничением риска</h1>
			<p>Для входа в рынок используются локальные возмущения (тренды), при возникновении которых велика вероятность хорошего, сильного движения в продолжение тренда. Закрытие убыточных и прибыльных позиций происходит согласно сигналам используемой модели рынка по результатам распознавания известных шаблонов поведения его участников. В&nbsp;случае резкого движения цены позиции могут быть закрыты на&nbsp;заранее установленных уровнях ограничения убытка.</p>
			<strong><p>Торговый робот не&nbsp;усредняется, не&nbsp;применяет сетки, мартингейл и&nbsp;подобные &laquo;токсичные&raquo; тактики, не&nbsp;пересиживает убыток и&nbsp;не&nbsp;учитывает размер просадки при расчете позиций.</p></strong>
			<p>Общеизвестно, что на графике цены наблюдаются так называемые каналы, образованные движениями цены инструмента в воображаемом коридоре (канале). Рано или поздно цена пробивает границу канала, и величина пробоя, как правило, превышает ширину этого самого канала (см. рисунок).</p>
			<img src="/download/{_global_.z}/i/breakout.png" border=0 alt="Graph"><br />
			<br />
			<p>Сделки открываются, в&nbsp;основном, в&nbsp;момент пробоя канала (отмечен на&nbsp;рисунке красным кругом), после чего есть два варианта развития событий:
			<p>&nbsp;а) фиксируем небольшой убыток на&nbsp;ложном пробое (что может случиться несколько раз подряд)</p>
			<p>&nbsp;б) получаем прибыль, покрывающую все предыдущие убытки и&nbsp;приносящую еще немного сверх того.</p>
			<br />
			<strong><p>Следует заметить, что сама по&nbsp;себе торговля на&nbsp;пробое канала не&nbsp;является основой прибыльности, а&nbsp;служит исключительно для отбора потенциально &laquo;длинных&raquo; движений, на&nbsp;которых картина <a href="/{_global_.z}/255/250">действий трейдеров</a> крупнее и&nbsp;лучше считывается.</p></strong>
