			<h1>Открытость&nbsp;&mdash; наше главное преимущество</h1>
			<p>На этой странице опубликованы ответы на часто задаваемые вопросы. Если вы не нашли здесь ответа на свой вопрос, то вы можете задать его <a href="/{_global_.z}/268">здесь</a>, и он, вероятно, будет опубликован на этой странице.</p>
			<p>
			<strong>На&nbsp;каких объемах это работает?</strong></p>
			<ul>
				<li>Технически объем любой&nbsp;&mdash; система масштабируема. Ограничения связаны только с&nbsp;ликвидностью рынка.</li>
				<li>Рабочий лот вычисляется исходя из&nbsp;допустимых рисков и&nbsp;суммы депозита.</li>
			</ul>
			<p><strong>Какой предел сумм для инвестиций по подобной системе?</strong></p>
			<ul>
				<li>Имея в&nbsp;управлении до 1&nbsp;000&nbsp;000 $ можно эффективно работать в&nbsp;любом крупном форекс-брокере; если&nbsp;же инвестиции составляют десятки-сотни миллионов, то&nbsp;потребуется выход на крупного поставщика ликвидности.</li>
				<li>Рекомендуется снижать норму прибыли с&nbsp;увеличением депозита (рабочий лот вычисляется по&nbsp;логарифмическому закону&nbsp;&mdash; на&nbsp;один шаг при каждом удвоении депозита).</li>
			</ul> <p>
			<strong>Как&nbsp;ограничены потери?</strong></p>
			<ul>
				<li>Потери ограничены фиксированным рабочим лотом и&nbsp;инертностью системы. Ордера, ограничивающие убытки, ставятся всегда.</li>
				<li>В&nbsp;случае форс-мажора или большой волатильности рынка позиции будут закрыты с приемлемым убытком (чаще всего) или с&nbsp;прибылью.</li>
				<li>Алгоритм не&nbsp;допускает &laquo;раскачки&raquo;, свойственной мартингейлу и&nbsp;подобным ему многоходовым стратегиям и/или стратегиям с&nbsp;жесткой привязкой к&nbsp;происходящему на&nbsp;рынке.</li>
			</ul> <p>
			<strong>Брокер может нарушить планы и&nbsp;разорить клиента. Что делать с&nbsp;этим риском?</strong></p>
			<ul>
				<li>Угрозу можно успеть заметить и&nbsp;отреагировать: сделок много, ордера находятся на&nbsp;разных уровнях, общая загрузка депозита достаточно низкая.</li>
				<li>Качество работы&nbsp;ДЦ постоянно контролируется&nbsp;&mdash; спред, проскальзывания, ошибки и&nbsp;т.д.</li>
			</ul> <p>
			<strong>Какая гарантия честного сотрудничества, если подобную систему использовать в доверительном управлении?</strong></p>
			<ul>
				<li>Условия сотрудничества открытые и&nbsp;прозрачные&nbsp;&mdash; стиль торговли известен заранее и&nbsp;любое отклонение будет видно сразу.</li>
				<li>Полный контроль над происходящим у&nbsp;инвестора есть всегда, так как есть непосредственный доступ к&nbsp;торговому счету.</li>
				<li>Управляющий не&nbsp;имеет прямой доступ к&nbsp;средствам инвестора (вы&nbsp;не&nbsp;даете деньги ему лично).</li>
			</ul> <p>
			<strong>Есть&nbsp;ли уверенность, что система будет прибыльна завтра? А&nbsp;через год?</strong></p>
			<ul>
				<li>Модель, используемая в&nbsp;стратегии, была разработана в&nbsp;2010. С&nbsp;тех пор &laquo;завтра&raquo; было пережито много раз, но&nbsp;модель не&nbsp;адаптировалась и&nbsp;система так&nbsp;же работает.</li>
				<li>Завтра, например, может начаться затяжная просадка. Это нормально.</li>
			</ul> <p>
			<strong>Если всё так прекрасно, то почему вы не торгуете на свои? Продайте квартиру и вперед!</strong></p>
			<ul>
				<li>Собственно, я примерно так и сделал. Я отказался от наемной работы (от дохода размером в полквартиры в год) и живу за счет форекса.</li>
				<li>Я вложил в свою торговлю свой годовой заработок, и эта сумма каждый год удваивается, но почти всю ее я трачу на себя и свои проекты.</li>
			</ul>
			<p><strong>Вы продаете свою систему?</strong></p>
			<ul>
				<li>Нет.</li>
			</ul>
