			<h1>Связаться с автором</h1>
			<p>В компаниях <a href="http://purefx.ru/asmodeux.htm">надежных форекс-брокеров</a> мои публичные счета имеют название Asmodeux.</p>
			<p>Адрес электронной почты для обращения по вопросам о содержимом сайта:</p>
			<img src="/download/{_global_.z}/i/contacts.gif" border=0 alt="Graph">
			<br /><br />
			<p>Также вы можете задавать вопросы по конкретным <a href="/{_global_.z}/264">системам</a> в профиле Myfxbook<BR />(потребуется регистрация):</p>
			<p><a href="https://www.myfxbook.com/members/alfonsofont">https://www.myfxbook.com/members/alfonsofont</a> (старые агрессивные счета)</p>
			<p><a href="https://www.myfxbook.com/members/asmodeux">https://www.myfxbook.com/members/asmodeux</a> (консервативные и умеренные счета)</p>
