			<h1>Быстрые деньги</h1>
			<p>Такая политика агрессивности подходит для инвесторов, которые допускают достаточно большие врéменные потери части инвестированных средств, а&nbsp;также для быстрого заработка заранее запланированной целевой суммы.</p>
			<p>Реальный пример торговли с&nbsp;максимальной расчетной просадкой&nbsp;75%:</p>
			<br/>
			<center>
			<a href="https://www.myfxbook.com/members/alfonsofont/burstfire-asmodeux-1m/494937"><img  border="0" src="https://widgets.myfxbook.com/widgets/494937/large.jpg"/></a>
			<p>(кликните картинку, чтобы перейти на <a href="https://www.myfxbook.com/members/alfonsofont/burstfire-asmodeux-1m/494937">сайт мониторинга</a> с подробной аналитикой по счету)</p>
			</center>
			<p>Замечание: брокер, у которого работал этот счет, прекратил свою деятельность через несколько дней после обновления счетом пика доходности, поэтому мониторинг обрывается на 8 сентября 2014 года. По дате последнего обновления (апрель 2015 года) видно, что счет реально закрылся на пике и больше не торговал. Все деньги брокер честно вернул, и именно для таких ситуаций отбор брокеров проводится тщательнейшим образом.</p>
			<p>Ввиду непопулярности такого стиля торговли у инвесторов, реально работающих счетов с такой агрессивностью сейчас немного. Если вас интересует зарабатывать с такими настройками, <a href="contacts.htm">пишите</a>.</p>
