			<h1>Оптимальные настройки агрессивности</h1>
			<p>Вариант для долгосрочного инвестирования с&nbsp;умеренными рисками и&nbsp;средней приемлемой для форекса доходностью. Реальный пример торговли с&nbsp;максимальной расчетной просадкой&nbsp;49% приведен на&nbsp;графике ниже.</p>
			<br/>
			<center>
			<a href="https://www.myfxbook.com/members/asmodeux/aperi-oculos-rub/1209196"><img  border="0" src="https://widgets.myfxbook.com/widgets/1209196/large.jpg"/></a>
			<p>(кликните картинку, чтобы перейти на <a href="https://www.myfxbook.com/members/asmodeux/aperi-oculos-rub/1209196">сайт мониторинга</a> с подробной аналитикой по счету)</p>
			</center>
